* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


ul, li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;

    padding: 3px 28px;
    background-color: #0077C0;
    color: #FFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
}

button:hover {
    opacity: 0.9;
}

#menu-hamburguer {
    display: none;
}

#menu-hamburguer,
#menu-arrow {
    font-size: 26px;
    cursor: pointer;
}

.modal-menu-mobile {
    position: fixed;
    right: 0;
    display: none;
}

.modal-menu-mobile--active {
    display: block;
}

.modal-menu-mobile-container {
    background-color: #C7EEFF;
    padding: 32px 24px 28px 32px;
    max-width: 400px;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.modal-menu-mobile-container ul li {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 50px;
}



.navbar-container-menu ul li:hover {
    color: #0077C0;
}

.container {
    margin: 0 160px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-container .menu-hamburguer {
    z-index: 1000;
}

.navbar-container-icon,
.navbar-container-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container-icon h2 {
    margin-left: 8px;
}

.navbar-container-menu ul li:not(:last-child) {
    margin-right: 32px;
}

.navbar-container-menu ul li {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navbar-container-menu ul li:hover {
    color: #0077C0;
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 43px;
}

.main-text h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 125%;
    letter-spacing: -0.5px;
    max-width: 646px;
    width: 100%;
}


.main-text h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 476px;
    width: 100%;  
    margin: 27px 0 32px 0; 
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 72px 0;
}

.feature {
    background-color: #0077C0;
    padding-top: 80px;
    padding-bottom: 133px;
}

.feature-text {
    text-align: center;
    margin-bottom: 75px;
}

.feature-text span {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 3px;
    color: #FFF;
}

.feature-text h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.5px;
    color: #FFF;
    margin-top: 8px;

}

.feature-box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;

    max-width: 1116px;
    width: 100%;
}

.feature-box-container .feature-box {
    color: #FFF;
}

.feature-box-container .feature-box:not(:last-child) {
    margin-right: 24px;
}

.feature-box-container .feature-box h2 {
    margin-top: 48px;
    margin-bottom: 16px;
}


.feature-box-container .feature-box p {
    font-size: 14px;
}


.platform-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto 73px auto;
}

.platform-container-image {
    margin-right: 120px;
}

.platform-container-text h1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.5px;
    max-width: 545px;
    width: 100%;
}

.platform-container-text ul {
    margin-top: 33px;
}

.platform-container-text ul li{
    display: flex;
    align-items: center;
}

.platform-container-text ul li:not(:last-child) {
    margin-bottom: 16px;
}

.platform-container-text ul li span {
    margin-left: 16px;
}

.hire {
    background-color: #C7EEFF;
    padding-top: 18px;
    padding-bottom: 13px;
}

.hire-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hire-container-text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.5px;

    max-width: 544px;
    width: 100%;
}

.hire-container-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    margin: 14px 0 28px 0;
}

.testimonial {
    padding-top: 87px;
    padding-bottom: 112px;
    background-color: #FAFAFA;
}

.testimonial-text {
    text-align: center;
}

.testimonial-text span {
    color: #0077C0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.testimonial-text h1 {
    margin-top: 16px;
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 48px;
    line-height: 125%;

    letter-spacing: -0.5px;
}

.testimonial-card {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.testimonial-card img {
    margin-right: 8px;
}


.testimonial-container-card {
    margin-bottom: 44px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
}

.testimonial-container-card:not(:nth-child(3n)) {
    margin-right: 24px;
}

.testimonial-container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.testimonial-container-cards p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    max-width: 416px;
    width: 100%;
}

.talent {
    margin-bottom: 70px;
}

.talent-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0077C0;
}

.talent-container .talent-container-image img {
    margin-bottom: -7px;
    margin-right: 93px;
}

.talent-container .talent-container-text h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #FFF;
    text-transform: uppercase;
}

.talent-container .talent-container-text h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    color: #FFF;

    max-width: 625px;
    width: 100%;

    margin-top: 8px;
    margin-bottom: 24px;
}

.talent-container .talent-container-text button {
    background-color: #FFF;
    color: #0077C0;
}

.footer {
    background-color: #1D242B;
    padding: 64px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-container-box-one--title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.footer-container-box-one--title h2 {
    color: #F7F8F8;
    margin-left: 8px;
    line-height: 29px;
    font-weight: 500;
}

.footer-container-box-one--social {
    margin-bottom: 40px;
}

.footer-container-box-one--social svg {
    cursor: pointer;
}

.footer-container-box-one--social svg:not(:last-child) {
    margin-right: 16px;
}

.footer-container-box-one--copy h6 {
    font-weight: 400;
    font-size: 14px;
    font-feature-settings: 'salt' on, 'liga' off;
    line-height: 24px;
    color: #D9DBE1;
}

.footer-container-box-two--box {
    display: flex;
}

.footer-container-box-two--box h3 {
    color: #FFF;
    margin-bottom: 24px;
}

.footer-container-box-two--box h4 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    font-feature-settings: 'salt' on, 'liga' off;
    line-height: 26px;
    color: #D9DBE1;

    cursor: pointer;
}

.footer-container-box-two--support {
    margin: 0 100px;
}

.footer-container-box-two--input-box {
    position: relative;
}

.footer-container-box-two--newsletter input {
    background-color: #4a5055;
    border: none;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.footer-container-box-two--newsletter input::placeholder {
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-container-box-two--newsletter svg {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
}



/* Media Queries */

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 40px;
    }

    .main-text h1 {
        font-size: 40px;
    }

    .main-img img{
        width: 400px;
    }

    .icon svg{
        width: 130px;
    }

    .platform-container-image svg {
        width: 350px;
    }

    .platform-container-text h1 {
        font-size: 38px;
    }

    .hire-container-img img {
        width: 400px;
    }

    .testimonial-container-cards p {
        font-size: 14px;
    }

    .talent-container .talent-container-text h5 {
        font-size: 14px;
    }

    .talent-container .talent-container-text h1 {
        font-size: 32px;
    }

    .footer-container-box-two--support {
        margin: 0px 80px;
    }

    .footer-container-box-one--copy h6 {
        font-size: 10px;
    }

    .footer-container-box-two--box h4 {
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {

    .navbar-container {
        justify-content: space-between;
        margin: 0 40px;
    }

    .navbar-container-menu {
        display: none;
    }

    #menu-hamburguer {
        display: block;
    }

    .main-text h1 {
        font-size: 34px;
    }

    .main-img img {
        width: 350px;
    }

    .icon svg{
        width: 100px;
    }

    .feature {
        padding-bottom: 80px;
    }

    .feature-box svg {
        width: 95px;
    }

    .feature-box-container .feature-box h2 {
        margin-top: 30px;
        font-size: 20px;
    }

    .feature-box-container .feature-box p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .platform-container-image svg {
        width: 300px;
    }
    
    .platform-container-text h1 {
        font-size: 24px;
    }

    .platform-container-text ul li span {
        font-size: 12px;
    }

    .hire-container-text h1 {
        font-size: 34px;
    }

    .hire-container-text p {
        font-size: 14px;
    }

    .hire-container-img img {
        width: 300px;
    }

    .testimonial-container-cards p {
        font-size: 12px;
    }

    .talent-container {
        padding: 0 30px;
    }

    .talent-container-image img {
        width: 300px;
    }

    .talent-container .talent-container-text h5 {
        font-size: 10px;
    }

    .talent-container .talent-container-text h1 {
        font-size: 25px;
    }

    .talent-container .talent-container-text button {
        font-size: 14px;
    }

    .footer-container-box-one--title svg {
        width: 30px;
    }

    .footer-container-box-one--title h2 {
        font-size: 20px;
    }

    .footer-container-box-one--social svg {
        width: 24px;
    }
    
    .footer-container-box-two--box h3 {
        font-size: 16px;
    }

    .footer-container-box-two--support {
        margin: 0px 50px;
    }
}

@media screen and (max-width: 568px) {
    .container {
        margin: 0 20px;
    }

    .main {
        flex-direction: column-reverse;    
    }

    .main-img img {
        width: 300px;
    }

    .main-text h1,
    .main-text h3 {
        text-align: center;
    }

    .main-text h1 {
        margin-top: 10px;
    }

    .btn-main {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-container {
        margin: 40px 0;
    }

    .icon svg {
        width: 75px;
    }

    .feature-text {
        margin-bottom: 20px;
    }

    .feature-text h1 {
        font-size: 38px;
    }

    .feature-box-container {
        flex-direction: column;
    }

    .feature-box {
        margin-top: 20px;
    }

    .feature-box svg {
        width: 80px;
    }

    .feature-box-container .feature-box h2 {
        margin-top: 0px;
        font-size: 24px;
    }

    .feature-box-container .feature-box p {
        font-size: 14px;
    }

    .feature-box-container .feature-box:not(:last-child) {
        margin-right: 0;
    }

    .platform-container-image  {
        display: none;
    }

    .platform-container-text h1 {
        margin-top: 20px;
        font-size: 32px;
        text-align: center;
    }

    .platform-container-text ul {
        margin-bottom: 33px;
    }

    .platform-container-text ul li span {
        font-size: 14px;
    }

    .hire-container {
        flex-direction: column;
    }

    .testimonial {
        padding-top: 50px;
    }

    .hire-container-img {
        margin-top: 30px;
    }

    .testimonial-text h1 {
        font-size: 40px;
    }

    .testimonial-container-cards {
        display: flex;
        flex-direction: column;
    }

    .testimonial-container-card:not(:nth-child(3n)) {
        margin-right: 0px;
    }

    .testimonial-container-cards p {
        max-width: none;
        text-align: justify;
    }

    .talent-container {
        padding: 30px;
        border-radius: 8px;
    }

    .talent-container .talent-container-image img {
        display: none;
    }

    .talent-container .talent-container-text h1 {
        font-size: 30px;
    }

    .footer-container,
    .footer-container-box-two--box {
        flex-direction: column;
        text-align: center;
    }

    .footer-container-box-one--title {
        justify-content: center;
    }

    .footer-container-box-two--support {
        margin: 0;
    }

    .footer-container-box-two--box h3 {
        margin-top: 30px;
    }

    .footer-container-box-one--social svg {
        width: 32px;
    }
}

@media screen and (max-width: 382px) {
    .main-text h1 {
        font-size: 30px;
    }

    .main-text h3 {
        font-size: 15px;
    }

    .icon svg {
        width: 52px;
    }

    .feature {
        padding: 50px 0px;
    }

    .feature-text h1 {
        font-size: 34px;
    }

    .hire {
        padding-top: 50px;
    }

    .hire-container-text h1 {
        font-size: 30px;
    }

    .hire-container-text p {
        text-align: justify;
    }

    .testimonial-text h1 {
        font-size: 28px;
    }
}